.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .login-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-submit-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
  }
  